<form action="/" method="post" accept-charset="utf-8">
		<textarea name="lists[task]" placeholder="To Do"></textarea>
		<input type="hidden" value="0" name="lists[stage]">
		<input type="submit" value="Envoyer">
		</form>
<div class="tableau">		
		<% @lists.each do |post| %>
	<div class="tache">
		<div class="date">Date: <%= post.created_at %></div>
		<div class="task">#<%= post.task %></div>
	</div>
		<% end %>	
</div>
